.login-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-color: #f2f2f2;
}

.login-prompt-header {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.login-prompt-text {
  font-size: 18px;
  margin-bottom: 24px;
  text-align: center;
}

.login-prompt-button {
  padding: 10px 20px;
  background-color: #ad6ee7;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sticky-search-bar {
  position: sticky;
  align-items: center;
  top: 120px;
  z-index: 2;
}

.error-image:hover {
  opacity: 1;
}

.svg-image:hover {
  opacity: 0.5;
}

.svg-search-bar-container {
  position: sticky;
  display: flex;
  top: 100px;
  background-color: #ad6ee7;
  height: 100px;
  width: 100%;
  justify-content: center;
}

.svg-search-input {
  align-items: center;
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
}

.css-13cymwt-control:hover {
  cursor: text;
}

.css-qbdosj-Input:focus {
  background-color: #ad6ee7 !important;
}

#react-select-3-input {
  border: none !important;
  box-shadow: none !important;
}

.SVG-finder-container {
  padding: 0;
}

.tag-display-window {
  height: 50vh;
  overflow-y: scroll;
  border: solid 2px #ad6ee7;
  margin: 20px 30px 0 0;
  position: sticky;
  top: 260px;
}

.tag-display-column {
  margin-left: 20px;
  padding-right: 0;
}

.svg-display-column {
  padding: 0;
}

.svg-page-buttons {
  display: flex;
  justify-content: center;
}

.display-newest-button {
  background: smokywhite;
  border: solid 2px #ad6ee7;
  border-radius: 5px;
  cursor: pointer;
}

.display-newest-btn-container {
  margin-left: 25px;
  margin-top: 10px;
  position: sticky;
  top: 210px;
}
@media (max-width: 640px) {
  .display-newest-btn-container {
    position: relative;
    top: 0;
  }
}
