.sticky-search-bar {
    /* display: absolute; */
    position: sticky;
    align-items: center;
    top: 120px;
    /* margin-top: ; */
    z-index: 99;
    
}

.error-image:hover {
    opacity: 1;
}

.svg-image:hover {
    opacity: 0.5;
}

/* .SVG-finder-container {
    height: 3500px;

} */