.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Login/Signup/AuthToggle/Reset Password Css style */

#submit-button-login {
  background-color: #282c34;
}

#submit-button-login:hover {
    background-color: #282c34;
    color: #ad6ee7;
}

#submit-button-signup {
  background-color: #282c34;
}

#submit-button-signup:hover {
    background-color: #282c34;
    color: #ad6ee7;
}

#login-text {
  color: #ad6ee7;
}


.login-signup-toggle,
.forgot-password {
  font-size: 1.2rem;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  border-radius: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 40px -10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* Change the margin to center horizontally */
  margin-top: 20px;
  /* Optional margin on the top */
}

.btn-login,
.btn-password,
#submit-button-login,
#submit-button-signup,
a.center {
  display: flex;
  gap: 2px;
  width: 50%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  border-radius: 10px;
}

.text-center {
  text-align: center;
  color: #ad6ee7;
}

#reset-password {
  background-color: #282c34;
  color: white;
  margin-top: 20px;
  border-radius: 10px;

}

.form-center {
    text-align: center;
}

#reset-password:hover {
    background-color: #282c34;
    color: #ad6ee7;
}

.remember {
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
}

.error {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.login-form .error {
  text-align: left;
}

.login-form .error input[type='text'],
.login-form .error input[type='password'] {
  text-align: left;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="username"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 20px #ad6ee7;
    border: 2px solid #ad6ee7;
}
