.change-container {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: whitesmoke;
  box-shadow: 0px 10px 40px -10px;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 20px;
}

.submit {
  background-color: #282c34;
  color: white;
  margin-top: 20px;
  display: flex;
  gap: 2px;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  padding: 15px 15px;
  border-radius: 10px;
}

.submit:hover {
  background-color: #282c34;
  color: #ad6ee7;
}

.text-page {
  text-align: center;
  color: #ad6ee7;
}

.togglePassword {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

/* .move-gap {
    margin-top: 15px;
} */

/* 
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
} */

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  transition: all 0.3s ease-in-out;
  outline: none;
  padding: 2px 0px 2px 2px;
  margin: 5px 1px 3px 0px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  box-shadow: 0 0 20px #ad6ee7;
  border: 2px solid #ad6ee7;
}

input[type='text'].error,
input[type='password'].error,
input[type='email'].error {
  border: 1px solid red;
  color: red; /* Add this line to change the text color to red */
}

input[type='checkbox'] {
  margin-top: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: red;
}

.message-container {
  margin-top: 20px;
  text-align: center;
}

/* .return-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.return-button {
  padding: 10px 20px;
  background-color: #282c34;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  width: 200px;
  text-align: center;
}

.return-button:hover {
  background-color: #282c34;
}

.return-to-login-button {
  display: block;
  margin: 20px auto;
  background-color: #282c34;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
}

.return-to-login-button:hover span {
  color: #ad6ee7;
}

.error {
  color: red;
}

@media screen and (max-width: 768px) {
  .change-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    flex-direction: column;
  }
}

.togglePassword {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.hidden-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.checkbox-text {
  color: #333;
  font-size: 1rem; /* Adjust as needed */
  margin-left: 8px; /* Add margin to create space */
}

.checkmark {
  position: relative;
  display: inline-block;
  height: 16px; /* Adjust as needed */
  width: 16px; /* Adjust as needed */
  background-color: #fff;
  border: 2px solid #ad6ee7; /* Adjust color as needed */
  border-radius: 3px;
  margin-left: 5px;
}

.hidden-checkbox:checked + .custom-checkbox .checkmark {
  background-color: #ad6ee7; /* Adjust color as needed */
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.hidden-checkbox:checked + .custom-checkbox .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 4px; /* Adjust position as needed */
  top: 2px; /* Adjust position as needed */
  width: 4px; /* Adjust size as needed */
  height: 8px; /* Adjust size as needed */
  border: solid #fff; /* Adjust color as needed */
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
  /* Adjust styles for smaller screens if needed */
}
