
.change-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 10px 40px -10px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 20px;
}



.submit {
    background-color: #ad6eef;
    color: white;
    margin-top: 20px;
    display: flex;
    gap: 2px;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


.submit:hover {
    background-color: #ad6ee7;
    color: #61dafb;
}


.text-page {
    text-align: center;
    color: #ad6ee7;
}

.togglePassword {
    margin-top: 10px;
    display: flex;
    gap: 5px;

}

/* .move-gap {
    margin-top: 15px;
} */


/* 
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
} */

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 2px 0px 2px 2px;
    margin: 5px 1px 3px 0px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 20px #ad6ee7;
    border: 2px solid #ad6ee7;
}


input[type="text"].error,
input[type="password"].error,
input[type="email"].error {
    border: 1px solid red;
    color: red; /* Add this line to change the text color to red */
}

input[type="checkbox"] {
    margin-top: 10px;
}

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: red;
}

.message-container {
    margin-top: 20px;
    text-align: center;
}

/* .return-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

.return-button {
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
    width: 200px;
}

.return-button:hover {
    background-color: #ad6ee7;
}

.return-to-login-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ad6ee7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    width: 200px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.return-to-login-button:hover {
    background-color: #61dafb;
}

.error {
    color: red;
}


@media screen and (max-width: 768px) {
    .change-container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        flex-direction: column;
    }
}


