.contact-container {
    max-width: 1000px;
    max-height: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 10px 40px -10px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    flex-direction: column;
}

.input-field {
    width: 100%;
    height: 50px;
    font-family: "Roboto";
    font-size: 1.5rem;
    margin-bottom: 20px;
    ;
}

.message-field {
    width: 100%;
    resize: none;
    height: 180px;
    font-family: "Roboto";
    font-size: 1.5rem;
}

.form-header {
    text-align: center;
    margin-bottom: 2rem;
}

.form-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-subtitle {
    font-size: 1.2rem;
    color: #777;
}

.custom-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #aeb5bf;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.custom-input:focus {
    box-shadow: 0 0 20px #ad6ee7;
    border: 2px solid #ad6ee7;
}

.custom-textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #aeb5bf;
    border-radius: 4px;
    font-size: 1rem;
    outline: none !important;
    resize: none;
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}

.custom-textarea:focus,
.custom-textarea:active {
    outline: none !important;
    border-color: #ad6ee7;
    box-shadow: 0 0 20px #ad6ee7;
}

.custom-input:not(:last-child),
.custom-textarea {
    margin-bottom: 1.5rem;
}

input[type="text"],
input[type="email"] {
    transition: all 0.3s ease-in-out;
    outline: none;
    padding: 2px 0px 2px 2px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #aeb5bf;
}

input[type="text"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 20px #ad6ee7;
    border: 2px solid #ad6ee7;
}

#change-button-color {
    background-color: #ad6eef;
    color: white;
}

#change-button-color:hover {
    background-color: #ad6ee7;
    color: #61dafb;
}

#move-p-tag {
    margin-top: 25px;
}

/* Mobile Responsive for contact-container */

@media screen and (max-width: 768px) {
    .contact-container {
        width: 100%;
        margin: 0 auto;
        padding: 1rem;
        flex-direction: column;
    }
}