.container-fluid {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-photo.jpeg');
  background-size: cover;
  background-position: center;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  width: 100%;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-image {
  width: 200px;
  /* Adjust the size as needed */
}

.header-text {
  color: #fff;
  font-size: 2rem;
}

/* Mobile responsiveness */

@media (max-width: 831px) {
  .header-text {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .logo-image {
    height: 150px;
    width: 150px;
  }

  .video-container {
    padding-bottom: 60%;
  }

}