.center {
    text-align: center;
}

.container {
    text-align: center;
}

/* Mobile Responsives Section */
@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}