.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #282c34;
  color: #fff;
  font-size: 3vw;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.2s ease-in-out;
}

.navbar-container a:hover {
  color: #61dafb;
}

.navbar-container a:active {
  color: #61dafb;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links.active {
  opacity: 1;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 30px;
  height: 2px;
  margin: 3px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
}

.line-1.active {
  transform: rotate(-45deg) translate(-5px, 6px);
  background-color: #61dafb;
}

.line-2.active {
  opacity: 0;
}

.line-3.active {
  transform: rotate(45deg) translate(-5px, -6px);
  background-color: #61dafb;
}

@media (max-width: 640px) {
  .navbar-container {
    justify-content: flex-start;
  }
  .navbar-container a {
    margin: 10px 0;
  }

  .navbar-container a.open {
    display: block;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #282c34;
    position: absolute;
    top: 80px;
    width: 100vw;
    transition: opacity 0.2s ease-in-out;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
  }
}
