.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #282c34;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.2s ease-in-out;
}

.navbar-container a:hover {
  color: #61dafb;
}

.navbar-container a:active {
  color: #61dafb;
}