.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #282c34;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  transition: color 0.2s ease-in-out;
}

.navbar-container a:hover {
  color: #61dafb;
}

.navbar-container a:active {
  color: #61dafb;
}

/* Mobile responsiveness */
@media (max-width: 831px) {
  .navbar-container a {
    font-size: 22px;
  }
}

@media (max-width: 640px) {
  .navbar-container {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .navbar {
    display: none;
  }

  .navbar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-icon {
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    color: #fff;
  }

  .navbar-icon:hover {
    color: #61dafb;
  }
}
